*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Ubuntu",sans-serif;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

::selection{
  border-radius: 80px;
  background-color: rgb(251, 101, 0);
}

::-webkit-scrollbar{
  border-radius: 80px;
  width: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
  border-radius: 80px;
  background-color: rgb(251, 101, 0);
}

.navbar{
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 999;
  transition: .3s linear;
}

.inner-width{
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}

.navbar .inner-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 100px;
  height: 100px;
  background-size: contain;
}

.menu-toggler{
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.menu-toggler span{
  display: block;
  height: 3px;
  background-color:  rgb(251, 101, 0);
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}

.navbar-menu a{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
}

.navbar-menu a:hover{
  color:  rgb(251, 101, 0) !important;
}

.sticky{
  background-color: #fff;
  padding: 18px 0;
}

.sticky .logo{
  background-image: url(../images/Logo_black.png);
}

.sticky .navbar-menu a{
  color: #111;
}

.sticky .menu-toggler span{
  background-color: #111;
}

.search_box{
	width: 50%;
	position: relative;
	left: 22%;
  }
  
  .search_box input[type="text"]{
	width: 120%;
	padding: 20px;
	padding-right: 60px;
	box-sizing: border-box;
	background: rgba(0,0,0,0.3);
	border: 2px solid rgb(251, 101, 0);
	border-radius: 90px;
	font-size: 18px;
	color: #fff;
	outline: none;
	box-shadow: 10px 18px 10px #000000;
  }
  
  .btn-search{
	position: absolute;
	transform: translateY(-50%);
	right: 25px;
	color: rgb(251, 101, 0);
	font-size: 25px;
  }
  
  ::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #fff;
  }
  ::-moz-placeholder {
	/* Firefox 19+ */
	color: #fff;
  }
  :-ms-input-placeholder {
	/* IE 10+ */
	color: #fff;
  }
  
  @media screen and (max-width: 250px){
	.search_box{
	  width: 95%;
	}
  }

 
.search_box{
	width: 50%;
	position: relative;;
	left: 22%;
  }

  .but{
  	margin-left: 20px;
    width: 35px;
    height: 35px;
  	padding: 20px;
    font-size: 20px;
  	box-sizing: border-box;
    background: rgba(0,0,0,0.3);
    border: 2px solid rgb(251, 101, 0);
   	border-radius: 90px;
    box-shadow: 10px 18px 10px #000000;
    }

    .but:hover,.but.active{
      cursor: pointer;
    }

	.fa-gear:before, .fa-cog:before {
    content: "\f013";
  }
    .fa{
      color: #fff ;
      text-align: center;
      font-size: x-large;
    }
	.find .fa{
		position: absolute;
		left: 290px;
    top: 200px;
  }
  
    #car .fa{
      animation: spin 10s linear infinite;
    }

    @keyframes spin {
      0% {
       transform: rotateZ(0);
      }
       100% {
       transform: rotateZ(360deg);
      }
     }

	#car{
   height: 20px;
  width: 3vw;
  border-radius: 32%;
	position: absolute;
  top: 30%;
  left: 110%;
}
    
    .sub-menu{
      display: none;
    }
    #car:hover .sub-menu{
       display: block;
       
    }
   
   #google{
	display: block;
   }
   #yahoo{
    display: none;
   }
   #bing{
    display: none;
   }
   .c{
    display: none;
    }
   
    #c1{
background-image: url(../images/google.png);
background-position: center center;
background-size: cover;
    }
    #c2{
background-image: url(../images/yahoo.png);
background-position: center center;
background-size: cover;
    }
    #c3{
     background-image: url(../images/bing.png);
     background-position: center center;
     background-size: cover;
    }
	#car:active .sub-menu{
       display: block;
       
    }
    #car:hover .sub-menu ul li{
     display: inline-flex;
     align-items: center;
     justify-content: center;
     margin-left: -4vw;
     height: 5vw;
    width: 13vw;
    background-color: #ffffff;
    border-radius: 10px;
    }
    #car:active .sub-menu ul li{
     display: inline-flex;
     align-items: center;
     justify-content: center;
     margin-left: -4vw;
     height: 5vw;
     width: 13vw;
     background-color: #ffffff;
     border-radius: 10px;
    }
    #car:hover .sub-menu ul li .c{
      display: block;
	  	height: 3vw;
      width: 9vw;
      background-color: transparent;
      border:#ffffff;
	    z-index: 10;
      border-bottom: 2px solid black;
    }

    #car:hover .sub-menu ul li .c:last-child{
		border-bottom: #fff;
    }
    #car:hover .sub-menu ul li .c:first-child{
		margin-top: 16px;
    }
    #car:active .sub-menu ul li .c{
      display: block;
	   	height: 3vw;
      width: 9vw;
      background-color: #fff;
      border:#fff;
	   z-index: 10;
      border-bottom: 2px solid #000000c4;
    }
    #car:active .sub-menu ul li .c:last-child{
		border-bottom: #fff;
    }
  
#home{
  height: 100vh;
  min-height: 500px;
  background: url(../images/back-p1.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#home .inner-width{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

#home .content{
  width: 100%;
  color: #fff;
}

/* #home .content h1{
  font-size: 150px;
  margin-bottom: -49px;
  font-family: 'Segoe UI';
}
#home .content h3{
  color: rgb(251, 101, 0);
  padding-left: 29%;
  font-style: italic;
  font-size: 60px;
  margin-bottom: 0px;
  font-family: 'Segoe UI';
} */


#home .content h1:hover,
#home .content h2:hover,
#home .content h3:hover{
  animation: rubberBand 1s;
}

@keyframes rubberBand{
  0%{
      transform: scale3d(1,1,1);
  }
  35%{
      transform: scale3d(1.25,.75,1);
  }
  45%{
      transform: scale3d(.75,1,1);
  }
  60%{
      transform: scale3d(1.2,.8,1);
  }
  75%{
      transform: scale3d(1.05,.95,1);
  }
  100%{
      transform: scale3d(1,1,1); 
  }
}

#home .content h2{
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 50px;
}

#home .content h2::after{
  content: "- Movies";
  animation: textanim 5s linear infinite;
}

@keyframes textanim{
  10%{
    content: "- Music";
  }
  20%{
    content: "- News";
  }
  30%{
    content: "- Games";
  }
  40%{
    content: "- Podcast";
  }
  50%{
    content: "- Fashion";
  }
  60%{
    content: "- Education";
  }
  70%{
    content: "- Health";
  }
  80%{
    content: "- Agriculture";
  }
  90%{
    content: "- Technology";
  }
  100%{
    content: "- More...";
  }
}
/* #home .sm-i a{
  top: 30px;
  margin: 0 20px;
  width: 60px;
  height: 60px;
  background-color: #ccc;
  display: inline-block;
  border-radius: 14px;
  box-shadow: 10px 18px 10px #000000;
  overflow: hidden;
  font-size: 28px;
  transition: .3s linear;
  position: relative;
}

#home .sm-i a:hover{
  transform: scale(1.3);
  border-radius: 50%;
}

#home .sm-i a img::before{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: 200% 200%;
  background-position: 75% 75%;
  top: 0;
  left: 0;
  transition: 0.5s linear;
}

#home .sm-i a:hover img::before{
  background-position: 0% 0%;
} */

.nav{
  display:  none;
}

.wrapper{
  right: 60%;
  top: 88%;
  position: fixed;
  display: inline-flex;
}
.wrapper .icon{
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span{
  display: block;
  height: 60px;
  width: 60px;
  background: #ffffff9a;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span i{
  color: #282627;
  line-height: 60px;
  font-size: 25px;
}
.wrapper .icon .tooltip{
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip{
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}
.icon .tooltip:before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover span i{
  color: #fff;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.wrapper .Websites:hover span,
.wrapper .Websites:hover .tooltip,
.wrapper .Websites:hover .tooltip:before{
  background: #282627;
}
.wrapper .Games:hover span,
.wrapper .Games:hover .tooltip,
.wrapper .Games:hover .tooltip:before{
  background: #46C1F6;
}
.wrapper .Podcasts:hover span,
.wrapper .Podcasts:hover .tooltip,
.wrapper .Podcasts:hover .tooltip:before{
  background: #e1306c;
}
.wrapper .Books:hover span,
.wrapper .Books:hover .tooltip,
.wrapper .Books:hover .tooltip:before{
  background: #46C1F6;
}
.wrapper .News:hover span,
.wrapper .News:hover .tooltip,
.wrapper .News:hover .tooltip:before{
  background: #ff8400;
}
.wrapper .Download:hover span,
.wrapper .Download:hover .tooltip,
.wrapper .Download:hover .tooltip:before{
  background: #08d549;
}


img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.sm a{
  color: #fff;
  padding-top: 40px;
  font-size: 22px;
  margin: 0 25px;
  transition: .2s linear;
}

.sm a:hover{
  color:  rgb(251, 101, 0);
}

section{
  padding: 100px 0;
  background-color: #f1f1f1;
}

.section-title{
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  font-size: 26px;
  padding-bottom: 20px;
  color: #111;
}

.section-title::before{
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: #111;
  bottom: 0;
  left: calc(50% - 40px);
}

.section-title::after{
  content: "";
  position: absolute;
  width: 16px;
  height: 10px;
  background-color:  rgb(251, 101, 0);
  border: 4px solid #f1f1f1;
  left: calc(50% - 12px);
  bottom: -7px;
}

.section-title:hover{
  animation: rubberBand 1s;
}

@keyframes rubberBand{
  0%{
      transform: scale3d(1,1,1);
  }
  35%{
      transform: scale3d(1.25,.75,1);
  }
  45%{
      transform: scale3d(.75,1,1);
  }
  60%{
      transform: scale3d(1.2,.8,1);
  }
  75%{
      transform: scale3d(1.05,.95,1);
  }
  100%{
      transform: scale3d(1,1,1); 
  }
}

.about-content{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about-pic{
  width: 200px;
  border-radius: 50%;
  margin-right: 100px;
}

.about-text{
  flex: 1;
}

.about-text h3{
  margin: 10px 0;
  color: rgb(52, 45, 45);
  font-size: 16px;
}

.about-text h3 span:nth-child(1):after,
.about-text h3 span:nth-child(2):after{
  content: "";
  width: 6px;
  height: 6px;
  background-color: rgb(52, 48, 48);
  display: inline-block;
  border-radius: 50%;
  margin: 0 14px;
}

.about-text p{
  font-size: 17px;
  text-align: justify;
  line-height: 26px;
  margin-top: 20px;
}

section.dark{
  background-color: #353b48;
}

section.dark .section-title{
  color: #f1f1f1;
}

section.dark .section-title::before{
  background-color: #f1f1f1;
}

section.dark .section-title::after{
  border: 4px solid #353b48;
}

.time-line,.works{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block{
  width: calc(50% - 20px);
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 30px;
  position: relative;
}

.block::before{
  content: "";
  position: absolute;
  width: 1px;
  height: 120%;
  background-color: #ddd;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.block::after{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-color:  rgb(251, 101, 0);
  left: -28px;
  top: 30px;
  border-radius: 50%;
}

.block h3{
  font-size: 16px;
  margin: 10px 0;
}

.block p{
  font-size: 15px;
  color: #444;
}

.contact-info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.contact-info .item{
  width: calc(33% - 20px);
  height: 160px;
  background-color: #353b48;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s linear;
}

.contact-info i{
  display: block;
  font-size: 40px;
  line-height: 120px;
  height: 100px;
}

.contact-info .item:hover{
  background-color:  rgb(251, 101, 0);
}

.contact-form{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-form input, .contact-form textarea{
  width: 100%;
  height: 50px;
  margin: 10px 0;
  background-color: #353b48;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 4px;
  color: #fff;
}

.nameZone, .emailZone{
  max-width: calc(50% - 10px);
}

.messageZone{
  min-height: 200px;
  resize: vertical;
}

.contact-form .btn{
  width: 180px;
  background-color: transparent;
  color:  rgb(251, 101, 0);
  font-size: 16px;
  border: 2px solid  rgb(251, 101, 0);
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  transition: .3s linear;
}

.contact-form .btn:hover{
  background-color:  rgb(251, 101, 0);
  color: #fff;
}

footer{
  background:  url(../images/overlay.png),url(../images/back-p1.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  padding: 80px 0;
  text-align: center;
}

.copyright{
  margin-bottom: 20px;
  font-size: 15px;
}

.copyright a{
  font-size: 16px;
  color:  rgb(251, 101, 0);
  font-weight: 500;
}

.goTop{
  position: fixed;
  z-index: 999;
  bottom: 70px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color:  rgb(251, 101, 0);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  outline: none;
  display: none;
}
.goTop:hover{
  background:rgb(255, 255, 255);
  color:  rgb(251, 101, 0);
}

@media screen and (width: 1024px){
  .wrapper{
    top: 95%;
 }
}
@media screen and (max-width: 980px){
  .menu-toggler{
    display: block;
  }

  .navbar-menu{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #282627;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
  }

  .navbar-menu a{
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }

  .navbar-menu a::after{
    content: '';
    width: 0%;
    height: 5px;
    background: #fb7d07;
    background: -webkit-linear-gradient(to left, #361b02, #ffa755);
    position: absolute;
    bottom: 0%;
    left: 50%;
    border-radius: 10px;
    transition: all 500ms ease;
  }
  
  .navbar-menu a:hover::after{
  left: 0%;
  width: 100%;
  }
  
  .sticky .navbar-menu{
    background-color: #f1f1f19e;
  }
  
  .navbar-menu.active{
    right: 0;
  }

  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }

  .inner-width{
    max-width: 800px;
  }
  
#home{
  min-height: 800px;
}
  .search_box{
    left: 10px;
    width: 78%;
  }


 #car:hover .sub-menu ul li{
  margin-left: -4vw;
  height: 7vw;
  text-align: center;
 width: 13vw;
 }

 #car:active .sub-menu ul li{
  margin-left: -4vw;
  height: 7vw;
  text-align: center;
  width: 13vw;
 }


  /* #home .content h1{
    font-size: 70px;
padding-top: 30%;
  }
  
  #home .content h3{
    font-size: 50px;
padding-top: 10%;
  } */

  #home .content h2{
    font-size: 20px;
  }
  /* #home .sm-i a{
    width: 40px;
    height: 40px;
    margin-top: 100px;
  }
   */

   .wrapper{
     /* top: 95%; */
    right: 0%;
  }

.nav{
  display:  none;
}

  .about-pic{
    margin: 0 auto 60px;
  }

  .about-text{
    flex: 100%;
    text-align: center;
  }

  .block{
    width: calc(100% - 20px);
    margin-left: auto;
  }

  .contact-info .item{
    width: 100%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 1457px){
  .wrapper{
   right: 5%;
 }

 .nav{
  display:  none;
}

}

@media screen and (max-width: 700px){
  .wrapper{
    display: none;
  }
    .nav {
      right: 0%;
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 55px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      background-color: #ffffff;
      display: flex;
      overflow-x: auto;
  }
  
  .nav__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      min-width: 50px;
      overflow: hidden;
      white-space: nowrap;
      font-family: sans-serif;
      font-size: 13px;
      color: #444444;
      text-decoration: none;
      -webkit-tap-highlight-color: transparent;
      transition: background-color 0.1s ease-in-out;
  }
  
  .nav__link:hover {
      background-color: #282627;
      color: #ffffff;
  }
  
  .nav__link--active {
      color: #ff8400;
  }
  
  .nav__icon {
      font-size: 18px;
  }
}
@media screen and (max-width: 599px){
  .inner-width{
    padding: 0 20px;
  }

  .wrapper{
    display: none;
  }


  #car:hover .sub-menu ul li{
    margin-left: -4vw;
    height: 9vw;
   width: 13vw;
   }
  
   #car:active .sub-menu ul li{
    margin-left: -4vw;
    height: 9vw;
    width: 13vw;
   }

   
  .nameZone, .emailZone{
    max-width: 100%;
  }
}
@media screen and (max-width: 500px){
  #car{
    left: 105%;
  }
}
.loader-container{
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 88888;
}

.obj{
  width: 6px;
  height: 40px;
  background: white;
  margin: 0 3px;
  border-radius: 10px;
  animation: loading 0.8s infinite;
}
.obj:nth-child(2){
  animation-delay: 0.1s;
}
.obj:nth-child(3){
  animation-delay: 0.2s;
}
.obj:nth-child(4){
  animation-delay: 0.3s;
}
.obj:nth-child(5){
  animation-delay: 0.4s;
}
.obj:nth-child(6){
  animation-delay: 0.5s;
}
.obj:nth-child(7){
  animation-delay: 0.6s;
}
.obj:nth-child(8){
  animation-delay: 0.7s;
}


@keyframes loading {
  0%{
    height: 0;
  }
  50%{
    height: 40px;
  }
  100%{
    height: 0;
  }
}

@media(prefers-color-scheme: dark){
  .nav{
    background-color: #282627;
  }

  .nav__link{
    color: #f1f1f1;
  }
  
  .nav__link:hover {
    background-color: #ffffff;
    color: #282627;
}

	#about{
		background: linear-gradient(#4c5e84 0%, #ffffff 100%);
	}
	#contact{
		background: linear-gradient(#ffffff 0%, #2b3a67  100%);
  }
}
