    	body{
	font-family: 'Roboto', sans-serif;
	background-image: url(../images/1\ \(1\).jpg)!important;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-size: 16px;
	position: relative;
	overflow-x: hidden;
}
		
html{
	scroll-behavior: smooth;
  }
  
  ::selection{
	border-radius: 80px;
	background-color: #fd5f03;
  }
  
  ::-webkit-scrollbar{
	border-radius: 80px;
	width: 10px;
	background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb{
	border-radius: 80px;
	background-color: #fd5f03;
  }
  
.loader-container{
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 88888;
}

.obj{
  width: 6px;
  height: 40px;
  background: white;
  margin: 0 3px;
  border-radius: 10px;
  animation: loading 0.8s infinite;
}
.obj:nth-child(2){
  animation-delay: 0.1s;
}
.obj:nth-child(3){
  animation-delay: 0.2s;
}
.obj:nth-child(4){
  animation-delay: 0.3s;
}
.obj:nth-child(5){
  animation-delay: 0.4s;
}
.obj:nth-child(6){
  animation-delay: 0.5s;
}
.obj:nth-child(7){
  animation-delay: 0.6s;
}
.obj:nth-child(8){
  animation-delay: 0.7s;
}


@keyframes loading {
  0%{
    height: 0;
  }
  50%{
    height: 40px;
  }
  100%{
    height: 0;
  }
}  
   
  
 
.navbar{
  text-decoration: none;
  position: relative;
  background-color: transparent;
  width: 100%;
  padding: 30px 0;
  top: 0;
  z-index: 999;
  transition: .3s linear;
}

.inner-width{
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
}

.navbar .inner-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 100px;
  height: 100px;
  background-size: contain;
}

.menu-toggler{
  background: none;
  width: 40px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.menu-toggler span{
  display: block;
  height: 3px;
  background-color:  rgb(251, 101, 0);
  margin: 6px 0;
  position: relative;
  transition: .3s linear;
}

.navbar-menu a{
  text-decoration: none;
color: #ffffff;

  font-size: 20px;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
}

.navbar-menu a:hover{
  color:  #fb6500 !important;
}

.sticky{
  background-color: transparent;
  padding: 18px 0;
}
/* 
.sticky .logo{
  background-image: url(../images/Logo_black.png);
} */

.sticky .navbar-menu a{
  color: #111;
}

.sticky .menu-toggler span{
  background-color: #111;
}
  
  h1{
	font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 2%;
	text-align: center;
	font-weight: 700 !important;
	font-size: 50px !important;
	margin:0 0 20px;
	text-transform: uppercase;
	color: #fd5f03;
}

  ul{
	margin:0;
	list-style-type: none;
}

.row{
	padding-top: 5%;
}

#filter-list{
	display: inline-block;
	border:3px solid #fd5f03;
	border-radius: 30px;
	padding: 4px;
	margin:0 0 60px;
	background-color: #ffffff00;
}

#filter-list li{
	display: inline-block;
	font-size: 16px;
  color: #fb7d07;
	text-transform: uppercase;
	line-height: 50px;
	text-align: center;
	border-radius: 25px;
	font-weight: 700;
	padding: 0 20px;
	min-width: 130px;
	cursor: pointer;
	-webkit-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

#filter-list li.active,
#filter-list li:hover{
	background-color: #fd6500;
	color: #fff;
}

    img{
	width: 100%;
	min-height: 250px;
}

    .main{
	padding: 40px 0;
}

    .col-md-3{
    margin-bottom: 40px;
}
		
    .album-poster{
	position: relative;
	display: block;
	border-radius: 7px;
	overflow: hidden;
	box-shadow: 0 15px 35px #000000;
    transition: all ease 0.4s;
}
		
    .album-poster:hover{
	box-shadow: none;
	transform: scale(0.98) translateY(5px);
}
		
    h3{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 34px;
	margin-bottom: 34px;
    border-bottom: 4px solid #e6e6e6;
    padding-bottom: 15px;
}
    p{
	font-size: 15px;
}

    h4{
	font-family: cursive;
	font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
	margin-top: 15px;
	font-weight: 700;
}
		
  .side{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}

.side a{
  background: #e74c3c;
  color: white;
  font-size: 22px;
  display: block;
  width: 130px;
  padding: 12px;
  text-decoration: none;
  margin: 8px 0;
  color: white;
  border-radius: 6px;
  margin-left: -110px;
  transition: 0.6s all;
}

.side a:hover{
  margin-left: 0;
}

footer{
  text-decoration: none;
  background-color: transparent;
  color: #282627;
  padding: 80px 0;
  text-align: center;
}
.inner-width2{
  margin: auto;
  padding: 0 40px;
}

.copyright{
  margin-bottom: 20px;
  font-size: 15px;
}

.copyright a{
  font-size: 16px;
  color:  rgb(251, 101, 0);
  font-weight: 500;
}

.sm a{
  text-decoration: none;
  color: #282627;
  padding-top: 40px;
  font-size: 22px;
  margin: 0 25px;
  transition: .2s linear;
}

.sm a:hover{
  color:  rgb(251, 101, 0);
}

	.goTop{
	position: fixed;
	z-index: 999;
	bottom: 40px;
	right: 40px;
	width: 40px;
	height: 40px;
	background-color:  rgb(251, 101, 0);
	border: none;
	border-radius: 6px;
	cursor: pointer;
	color: #fff;
	outline: none;
	display: none;
  }

  .goTop:hover{
	background:rgb(255, 255, 255);
	color:  rgb(251, 101, 0);
  }

  @media screen and (min-width: 650px){
	.inner-width{
		margin-left: 20% !important;
	  }
	}

  @media screen and (min-width: 601px){
	.inner-width{
		margin-left: 10% !important;
	  }
	}

	@media screen and (min-width: 1000px){
	.inner-width{
		margin-left: 40% !important;
	  }
	}

  @media screen and (min-width: 1200px){
	.inner-width{
		margin-left: 50% !important;
	  }
	}

  @media screen and (min-width: 540px){
	.inner-width{
		margin-left: 90%;
	  }
	}

  @media screen and (max-width: 600px){
  .menu-toggler{
    display: block;
  }

  .navbar-menu{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #282627;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: .3s linear;
  }

  .navbar-menu a{
    display: block;
    font-size: 30px;
    margin: 30px 0;
  color: #fff;
  font-weight: 500;
  margin-left: 30px;
  transition: .2s linear;
}

.navbar-menu a:hover{
  color:  #fb6500 !important;
}

  .navbar-menu a::after{
    content: '';
    width: 0%;
    height: 5px;
    background: #fb7d07;
    background: -webkit-linear-gradient(to left, #361b02, #ffa755);
    position: absolute;
    bottom: 0%;
    left: 50%;
    border-radius: 10px;
    transition: all 500ms ease;
  }
  
  .navbar-menu a:hover::after{
  left: 0%;
  width: 100%;
  }
  
  .sticky .navbar-menu{
    background-color: #f1f1f19e;
  }
  
  .navbar-menu.active{
    right: 0;
  }

  .menu-toggler.active span:nth-child(1){
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2){
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3){
    transform: rotate(45deg);
    bottom: 14px;
  }

  .inner-width{
	max-width: 800px;
	margin-left: 40%;
  }

  .navigation-menu i{
	font-size: 26px;
  }

   .navigation-menu a{
	font-size: 24px;
 }



 h1 i{
margin-right: -5%;
 }

 .inner-width2{
    max-width: 800px;
  }

    .row{
    padding-left: 5%;
	padding-right: 5%;
 }

}
